* {
  outline: none;
  box-shadow: none !important;
}

.App {
  text-align: center;
}

.news-item {
  padding: 10px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.news-item:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
}

.nav-link:hover,
.nav-link:active {
  color: white
}